# Логи
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Зависимости и сборка
/node_modules
/.pnp
.pnp.js
/dist
/dist-ssr
/build
/.cache
/.svelte-kit
/out

# Переменные окружения
.env
.env.*
!.env.example

# Настройки редактора
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Системные файлы
Thumbs.db
ehthumbs.db
[Ll]ibrary
*.stackdump

# Тестовые данные
/coverage
/.nyc_output

# Дополнительно
*.bak
*.tmp
*.pid
*.seed
*.pid.lock